/*zifront css*/
#zifront_ui_container{
    position: relative;
    width: 100%;
    text-align: center;
}
#zifront_ui_content {
    width: 70%;
    background-color: #FFFFFF;
    padding:30px;
    box-shadow: 0px 0px 0px 10px rgb(0, 0, 0,0.1);
    margin: 30px auto 30px auto;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;
}
#zifront_ui_content img {
    max-width: 100%;
    height: auto;
}
#zifront_ui_content h2{ 
    font-weight: 800;
}
.zifront_ui_row{
    margin: 30px 0 30px 0;
}
.zifront_ui_row input {
    width: 220px;
    margin-left: 20px;
}
#zifront_dashboard_button {
    display: none;
}